* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  letter-spacing: 2.5px;
}

.bg-img {
  /* position: absolute; */
  background: url("/assets/images/bg_img.jpg") #a7d3ec no-repeat;
  background-size: cover;
  background-position: right center;
  display: block;
  margin: auto;
  padding-bottom: 19.55rem;
  max-width: 100%;
  min-height: 100%;
  background-blend-mode: multiply;
  opacity: 1;
  /* overflow: hidden; */
}

/* .bg-img > img {
  position: fixed;

  box-shadow: inset 2000px 0 0 0 rgba(0, 125, 255, 0.5);
  border-color: rgba(0, 125, 255, 1);
  width: 100%;
  height: auto;
  /* opacity: 0.6; */
/* } */

header {
  position: relative;
}

.heading {
  text-align: center;
  padding-top: 33px;
}

#heading {
  text-decoration: none;
  color: #fff;
  font-size: 50px;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 35px 300px;
}

.nav-link li {
  list-style: none;
}

.nav-links {
  text-decoration: none;
  color: #fff;
}

.nav-links:hover {
  color: #a7d3ec;
}

.sign-btns {
  border: 1px solid #3f9fc9;
  border-radius: 10px;
  background-color: #3f9fc9;
  padding: 10px 15px;
}

.sign-btns:hover {
  background-color: #a7d3ec;
  border-color: #a7d3ec;
  color: #3f9fc9;
}

#sign-in,
#sign-up {
  color: #fff;
}

.main-section {
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-top: 80px;
  color: #fff;
}

.inputs {
  margin-top: 20px;
}

input[type="text"] {
  opacity: 0.8;
}

input[type="text"]:hover {
  opacity: 1;
}

input[type="text"]::placeholder {
  color: #a7d3ec;
}

input[type="text"]::placeholder:hover {
  color: #5ba3d3;
}

input[type="date"] {
  opacity: 0.8;
}

input[type="date"]:hover {
  opacity: 1;
}

input[type="date"]::placeholder {
  color: #a7d3ec;
}

input[type="date"]::placeholder:hover {
  color: #5ba3d3;
}

#location,
#date-in,
#date-out {
  padding: 10px;
  border: 1px solid #a7d3ec;
  border-radius: 10px;
}

#date-in,
#date-out {
  padding: 8px;
}

.search-btn {
  padding: 10px 15px;
  border: 1px solid #3f9fc9;
  border-radius: 10px;
  background-color: #3f9fc9;
  text-transform: uppercase;
  color: #fff;
}

.search-btn:hover {
  background-color: #a7d3ec;
  border-color: #a7d3ec;
  color: #3f9fc9;
}

.second-section {
  margin: 5rem 5rem 0 5rem;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

.card1 {
  box-shadow: 0 4px 8px 0 #a7d3ec;
  transition: 0.3s;
  border-radius: 5px;
}

.card1-img {
  width: 50%;
  border-radius: 5px 5px 0 0;
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card1-container {
  padding: 2px 10px;
}

.card2 {
  box-shadow: 0 4px 8px 0 #a7d3ec;
  transition: 0.3s;
  border-radius: 5px;
}

.card2-img {
  width: 50%;
  border-radius: 5px 5px 0 0;
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card2-container {
  padding: 2px 10px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
