* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  letter-spacing: 2.5px;
}

.bg-img {
  /* position: absolute; */
  background: url("/assets/images/bg_img.jpg") #669588 no-repeat;
  background-size: cover;
  background-position: right center;
  display: block;
  margin: auto;
  padding-bottom: 19.55rem;
  max-width: 100%;
  min-height: 100%;
  background-blend-mode: overlay;
  /* overflow: hidden; */
}

/* .bg-img > img {
  position: fixed;

  box-shadow: inset 2000px 0 0 0 rgba(0, 125, 255, 0.5);
  border-color: rgba(0, 125, 255, 1);
  width: 100%;
  height: auto;
  /* opacity: 0.6; */
/* } */

header {
  position: relative;
}

.heading {
  text-align: center;
  padding-top: 33px;
}

#heading {
  text-decoration: none;
  color: #3f9fc9;
  font-size: 50px;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 35px 300px;
}

.nav-link li {
  list-style: none;
}

.nav-links {
  text-decoration: none;
  color: #032e60;
}

.nav-links:hover {
  color: #3f9fc9;
}

.sign-btns {
  border: 1px solid #3f9fc9;
  border-radius: 10px;
  background-color: #3f9fc9;
  padding: 10px 15px;
}

.sign-btns:hover {
  background-color: #71aeda;
  border-color: #71aeda;
  color: #058ed9;
}

#sign-in,
#sign-up {
  color: #fff;
}

.main-section {
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-top: 80px;
  color: #fff;
}

.inputs {
  margin-top: 20px;
}

input[type="text"] {
  opacity: 0.7;
}

input[type="text"]:hover {
  opacity: 1;
}

input[type="text"]::placeholder {
  color: #a7d3ec;
}

input[type="text"]::placeholder:hover {
  color: #5ba3d3;
}

#location,
#date-in,
#date-out {
  padding: 10px;
  border: 1px solid #a7d3ec;
  border-radius: 10px;
}

#date-in,
#date-out {
  padding: 8px;
}

.search-btn {
  padding: 10px;
  border: 1px solid #5ba3d3;
  border-radius: 10px;
  background-color: #5ba3d3;
}
